.dates {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: auto;
  padding-right: 1rem;
}

.dates::-webkit-scrollbar {
  width: 10px;
}

.dates::-webkit-scrollbar-thumb,
.dates::-webkit-scrollbar-track {
  border-radius: 0.3rem;
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.7);
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid rgb(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.2);
  transition: border-bottom-color 300ms, border-left-color 300ms,
    border-right-color 300ms, border-top-color 300ms;
}

.date.active {
  border: 1px solid rgb(255, 255, 255, 1);
}

.date-issue {
  margin-bottom: 1rem;
}

.date-issue span {
  font-weight: bold;
}

.date-issue p {
  font-weight: normal;
}

.information-item {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

.information-item span {
  font-weight: bold;
}

.information-item p {
  font-weight: normal;
}

.arrow {
  height: 0;
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .dates {
    display: flex;
    overflow-y: hidden;
    flex-grow: 1;
  }

  .date {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
  }

  .date {
    margin-bottom: 1rem;
  }
}
