.clients{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 24rem;
    overflow-y: scroll;
}

.client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    border: 1px solid white;
    padding: .6rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 1rem;

}

.client-main{
    display: flex;
    justify-content: start;
    gap: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.client .check{
    width: 2rem;
    cursor: pointer;
}

.client-information h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.client-information p{
    font-size: 1rem;
    margin: .3rem 0;
}

.general-information{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    margin-top: 2rem;
}

.general-information h3{
    margin: 0;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.data{
    margin: 0.4rem 0;
}

.record{
    display: flex;
    flex-direction: column;
}

.record-title{
    margin: 2rem 0 1rem 0;
    font-weight: bold;
}

.record-categories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.record-category{
    display: flex;
    flex-direction: column;
}

.record-category-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    border: 1px solid white;
    padding: .6rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    cursor: pointer;
}

.record-category-up p{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.record-category img{
    width: 2rem;
}

.record-subcategories{
    height: 0;
    overflow: hidden;
    transition: height 1000ms;
}

.record-subcategories.active{
    height: auto;
    overflow: auto;
}

.subcategory{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
    border-bottom: 1px solid white;
}

.subcategory p{
    margin: 0;
}
