/* ====================== General ======================== */
*{
    font-family: 'Montserrat', SansSerif, serif;
    font-weight: lighter;
    color: white;
}

h1, h2, h3, h4, p, a{
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/background.jpg");
    background-size: cover;
    overflow-y: hidden;
}

header{
    z-index: 105;
    height: fit-content;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
}

.logo{
    padding: .3rem;
    width: 2.7rem;
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: .7rem auto 1rem auto;
    width: 85%;
    height: 90vh;
}

.home{
    margin: 8rem auto 0 auto;
}

.heading{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.subheading{
    font-size: 1.1rem;
    margin: .3rem 0;
}

@media only screen and (max-width: 767px) {
    .home{
        margin: 1rem auto 0 auto;
    }

    .container{
        width: 85%;
    }

    .heading{
        text-align: left;
        font-size: 1.5rem;
    }

    .subheading{
        text-align: left;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home{
        margin: 2rem auto 0 auto;
    }

    .container{
        width: 90%;
    }
}
/* ====================== General ======================== */


/* ======================== Logo ========================== */
.brand {
    width: 21rem;
}

.brand .grafic{
    height: 3px;
    background: linear-gradient(90deg, #cda74d 0%, transparent 35%, transparent 50%, transparent 65%, #cda74d 100%);
}

.group-text{
    font-size: 1.8rem;
    font-weight: bold;
}

.brand .names{
    display: flex;
    justify-content: space-between;
}

.names-text{
    font-size: 3rem;
    font-weight: bold;
}

.brand .subtitle{
    display: flex;
    justify-content: space-between;
}

.subtitle-text{
    font-size: 1rem;
    font-weight: lighter;
}

@media only screen and (max-width: 767px) {
    .brand{
        width: 90%;
        margin: 0 auto;
    }

    .group-text{
        font-size: 1.6rem;
    }

    .names-text{
        font-size: 2.7rem;
    }

    .subtitle-text{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .brand{
        width: 21rem;
    }
}
/* ======================== Logo ========================= */


/* ================== Navigation Bar ===================== */
.logo-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    width: 0;
    visibility: hidden;
    overflow: hidden;
}

.nav{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.logo, .link{
    font-size: 1.2rem;
    font-weight: 600;
}

.link{
    padding: .9rem 0;
    text-decoration: none;
    text-transform: uppercase;
}

.link:last-child{
    padding: 0;
    margin: 0;
}

.user{
    cursor: pointer;
    margin: 0;
    width: 2.3rem;
}

.dropdownlist{
    position: absolute;
    top: 3rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: .7rem;
}

.dropdownlist .info{
    margin-bottom: 1rem;
}

.dropdownlist .logout{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid white;
    padding-top: .5rem;
    text-decoration: none;
    cursor: pointer;
}

.dropdownlist .username{
    font-size: 1.1rem;
    font-weight: bold;
}

.dropdownlist .logout img{
    width: 1.5rem;
}

.link.active{
    border-bottom: 4px solid white;
}

@media only screen and (max-width: 767px) {
    .logo-menu{
        width: 100%;
        height: 3rem;
    }

    .logo{
        width: 2.2rem;
    }

    .nav{
        gap: 1.5rem;
        height: 0;
        visibility: hidden;
        transition: height 500ms ease;
    }

    .nav.active{
        width: 100%;
        height: calc(100vh - 4rem);
        visibility: visible;
    }

    .nav, .bar{
        flex-direction: column;
        text-align: center;
    }

    .link {
        padding: .4rem 0;
    }

    .current-user{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user{
        position: relative;
        width: 2.7rem;
    }
    
    .dropdownlist{
        position: inherit;
        margin-top: 2rem;
        padding: .8rem;
        width: 110%;
    }

    .dropdownlist .username{
        font-size: 1.3rem;
    }

    .menu-icon{
        color: white;
        width: 2.4rem;
        cursor: pointer;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logo-menu{
        width: 100%;
        height: 4rem;
    } 

    .menu-icon{
        color: white;
        width: 3rem;
        cursor: pointer;
        visibility: visible;
    }

    body{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav{
        height: 0;
        visibility: hidden;
        transition: height 500ms ease;
    }

    .nav.active{
        width: 100%;
        height: calc(100vh - 4rem);
        visibility: visible;
    }

    .nav, .bar{
        flex-direction: column;
        text-align: center;
    }

    .logo, .link{
        font-size: 1.8rem;
        font-weight: 600;
    }

    .current-user{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user{
        position: relative;
        width: 3.5rem;
    }
    
    .dropdownlist{
        position: inherit;
        margin-top: 2rem;
        width: 110%;
    }

    .dropdownlist .username{
        font-size: 1.3rem;
    }

    .menu-icon{
        color: white;
        width: 3rem;
        cursor: pointer;
        visibility: visible;
    }
}
/* ================== Navigation Bar ===================== */


/* ================== Error component ===================== */
.error-page{
    text-align: center;
    width: 40rem;
    margin: 10rem auto 0 auto;
}

.error-page .title{
    font-size: 2.5rem;
    font-weight: bold;
}

.error-page .image{
    margin: 1rem 0;
    width: 6rem;
}

.error-page .information{
    font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .error-page{
        width: 85%;
    }

    .error-page .title{
        font-size: 1.5rem;
    }

    .error-page .image{
        width: 4rem;
    }

    .error-page .information{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ================== Error component ===================== */


/* =================== Search Field ====================== */
.top-options{
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.search{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    border: none;
    border-radius: .7rem;
    width: 18rem;
    padding: .3rem;
}

.search img{
    width: 1.8rem;
    margin: 0;
}

.search input{
    background: none;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    margin: 0;
    width: 16rem;
    outline: none;
}

@media only screen and (max-width: 767px) {
    .top-options{
        flex-direction: column;
        margin-top: .5rem;
    }

    .search{
        width: calc(100% - 1rem);
        padding: .2rem .5rem;
    }

    .search img{
        width: 1.3rem;
    }

    .search input{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .top-options{
        flex-direction: column;
        margin-top: 1rem;
    }

    .search{
        width: calc(100% - 1rem) ;
        padding: .3rem .5rem;
    }

    .search img{
        width: 1.5rem;
    }

    .search input{
        font-size: 1.3rem;
    }
}
/* =================== Search Field ====================== */


/* ===================== Buttons ========================= */
.actions{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: .6rem;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255, 0);
    border-radius: .7rem;
    transition: backdrop-filter 200ms, border 500ms;
    font-weight: normal;
}

.button:hover{
    border: 1px solid rgb(255, 255, 255, 1);
}

.button.center{
    justify-content: center;
}

.logout .button{
    width: 100%;
}

.button img{
    width: 1.4rem;
}

.button p{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .actions{
        margin: .6rem 0;
    }

    .button{
        padding: .3rem;
        justify-content: center;
        gap: 0;
    }

    .button p{
        font-size: 0;
        text-align: center;
        width: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .button img{
        width: 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .actions{
        margin: 1rem 0;
    }

    .button{
        padding: .3rem;
        flex-grow: 1;
        justify-content: center;
    }

    .button p{
        font-size: 1rem;
        text-align: center;
    }

    .button img{
        width: 1.5rem;
    }
}
/* ===================== Buttons ========================= */


/* ====================== Modals ========================= */
.login-modal{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.modal{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, .1);
    z-index: 106;
    opacity: 0;
    transition: opacity 300ms ease;
}

.modal.active{
    opacity: 1;
}

.form{
    position: relative;
    inset: 0;
    z-index: 102;
    width: 45%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: .7rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.41);
}

.message{
    position: relative;
    margin: 0 auto;
    width: 35%;
    height: fit-content;
    border-radius: .7rem;
    background-color: rgb(255, 255, 255, .2);
}

.button-close{
    position: absolute;
    inset: 0;
    width: 1.9rem;
    height: 1.9rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    padding: .3rem;
}

@media only screen and (max-width: 767px) {
    .form {
        padding: 2rem;
    }

    .form, .message{
        width: calc(90% - 4rem);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .form {
        padding: 2rem;
    }

    .form, .message{
        width: calc(70% - 4rem);
    }
}
/* ====================== Modals ========================= */


/* ====================== Inputs ========================= */
.message-information .inputs{
    margin: 1rem 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.input{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.input label{
    font-size: 1.2rem;
}

.input input{
    font-size: 1.1rem;
    font-weight: normal;
    padding: .6rem;
    border: none;
    border-radius: .7rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
    outline: none;
}

.input select{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
    font-weight: normal;
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
    border-radius: .7rem;
    outline: none;
}

.input option{
    color: black;
    outline: none;
}

input[type='file']{
    border: none;
    cursor: pointer;
}

input[type='datetime-local']{
    outline: none;
    padding: .6rem;
    border: none;
    border-radius: .7rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
}

@media only screen and (max-width: 767px) {
    .inputs{
        gap: .5rem;
        width: 100%;
    }
    
    .input{
        gap: .3rem;
    }

    .input label{
        font-size: .9rem;
    }
    
    .input input{
        font-size: .8rem;
        font-weight: normal;
        padding: .4rem;
        border: none;
        border-radius: .4rem;
        backdrop-filter: blur(10px);
        background-color: rgb(255, 255, 255, .1);
        outline: none;
    }

    .input select{
        font-size: .8rem;
        padding: .3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .inputs{
        gap: .5rem;
        width: 100%;
    }
    
    .input{
        gap: .3rem;
    }
}
/* ====================== Inputs ========================= */


/* ====================== Forms ========================= */
.error{
    color: darkred;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    border-radius: .4rem;
}

.loading{
    display: flex;
    gap: .7rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
    .error{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ====================== Forms ========================= */


/* ===================== Messages ========================= */
.message-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    text-align: center;
}

.message-information .buttons{
    margin: .5rem 0;
    display: flex;
    gap: 1rem;
}

.message-information p{
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: .5rem;
}

.message .message-information img{
    width: 6rem;
}

@media only screen and (max-width: 767px) {
    .message-information p{
        font-size: 0.9rem;
    }
    
    .message .message-information img{
        width: 4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ===================== Messages ========================= */


/* ====================== Spinner ======================== */
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 14px;
    height: 14px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/* ====================== Spinner ======================== */


/* ====================== Layout ========================= */
.grid-1-2{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1rem;
}

@media only screen and (max-width: 767px) {
    .grid-1-2{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ====================== Layout ========================= */


/* ======= Panel design for client and subjects ========== */
.content{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    margin-top: 2rem;
    height: fit-content;
    border-radius: .7rem;
}

.content h3{
    margin: 0;
    font-weight: bold;
}

.content .data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.4rem 0;
}

.content .item p{
    margin-bottom: .3rem;
}

@media only screen and (max-width: 767px) {
    .content{
        padding: .5rem 1rem;
        margin-top: .5rem;
    }

    .content h3{
        font-size: 1rem;
    }

    .content .data{
        margin: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 300ms ease, opacity 300ms;
    }

    .data.active{
        height: 100%;
        overflow: visible;
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ======================= Panel ========================== */


/* =================== Document Modal ===================== */
.document{
    position: relative;
    inset: 0;
    z-index: 102;
    width: 31%;
    margin: 0 auto;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: .7rem;
    padding: 2rem 2rem .1rem 2rem;
}

.react-pdf__Page,
.react-pdf__Page__canvas,
.react-pdf__Page__textContent,
.react-pdf__Page__annotations
{
    max-width: 100%;
    max-height: 38rem;
}

.changerpage{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
}

.changerpage p{
    font-weight: normal;
}

.changerpage img{
    width: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .document{
        width: 65%;
    }

    .react-pdf__Page,
    .react-pdf__Page__canvas,
    .react-pdf__Page__textContent,
    .react-pdf__Page__annotations
    {
        max-height: 23rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .document{
        width: 60%;
    }

    .react-pdf__Page,
    .react-pdf__Page__canvas,
    .react-pdf__Page__textContent,
    .react-pdf__Page__annotations
    {
        max-height: 38rem;
    }
}
/* =================== Document Modal ===================== */


/* ========================= List ========================= */
.list-scroll{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.list-scroll::-webkit-scrollbar {
    width: 10px;
    margin-left: 1rem;
}

.list-scroll::-webkit-scrollbar-thumb, .clients::-webkit-scrollbar-track {
    border-radius: .3rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}

.item-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    border: none;
    border-radius: .7rem;
    padding: .6rem .8rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 1rem;
}

.item-list .check{
    width: 2rem;
    cursor: pointer;
}

.item-list .actions{
    margin: 0;
}

.item-list .actions img{
    width: 2rem;
    cursor: pointer;
}

.item-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.item-main img{
    width: 3rem;
    cursor: pointer;
}

.item-information h4{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}

.item-information p{
    font-size: 1rem;
    margin: .3rem 0;
}

.item-information img{
    width: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .list-scroll{
        padding: 0;
        flex-grow: 1;
    }

    .item-list{
        padding: .3rem .4rem;
        margin-right: .5rem;
    }

    .item-main{
        gap: .4rem;
    }

    .item-main img{
        width: 1.8rem;
    }

    .item-information h4{
        font-size: 0.8rem;
    }

    .item-information p{
        font-size: .7rem;
    }

    .item-information p{
        max-width: 10rem;
    }

    .item-list .check{
        width: 1.4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .list-scroll{
        padding: 0;
        flex-grow: 1;
    }

    .item-list{
        margin-right: .5rem;
    }

    .item-main{
        gap: .4rem;
    }

    .item-main img{
        width: 2.2rem;
    }

    .item-information h4{
        font-size: 1.1rem;
    }

    .item-information p{
        max-width: 10rem;
    }
}
/* ========================= List ========================= */

/* ========================= Login ======================== */
.account-options{
    display: flex;
    justify-content: space-between;
}

.account-options .option{
    font-size: .9rem;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .account-options{
        flex-direction: column;
        gap: .6rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .account-options .option:nth-child(2){
        text-align: right;
    }
}
/* ========================= Login ======================== */

/* ========================= Steps ======================== */
.steps{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step{
    width: 3rem;
    height: 3rem;
    z-index: 100;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    transition: background-color 500ms ease;
}

.step.active{
    background-color: rgb(255, 255, 255, 0.6);
}

.step-line{
    margin: 0 -.1rem;
    width: 1.5rem;
    height: .8rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/* ========================= Steps ======================== */

/* ===================== Code Messages ==================== */
.just-text{
    margin-top: 1.5rem;
}

.code{
    margin: .5rem 0;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.code-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: .7rem;
    outline: none;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}

@media only screen and (max-width: 767px) {
    .code{
        gap: .5rem;
    }

    .code-letter{
        font-size: .9rem;
        width: 2.2rem;
        height: 2.2rem;
    }
}
/* ===================== Code Messages ==================== */


/* ========================= Others ======================= */
.no-found{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    padding: .6rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    font-weight: bold;
}

.state{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.point{
    width: .7rem;
    height: .7rem;
    border-radius: 999px;
    background-color: red;
    transition: background-color 500ms;
}

.point.active{
    background-color: green;
}

@media only screen and (max-width: 767px) {
    .point{
        width: .5rem;
        height: .5rem;
    }
}
/* ========================= Others ======================= */