/* ====================== General ======================== */
*{
    font-family: 'Montserrat', SansSerif, serif;
    font-weight: lighter;
    color: white;
}

h1, h2, h3, h4, p, a{
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/background.jpg");
    background-size: cover;
}

header{
    height: fit-content;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
}

.logo{
    padding: .3rem;
    width: 2.7rem;
}

.container{
    margin: .5rem auto 0 auto;
    width: 85%;
}

.home{
    margin: 8rem auto 0 auto;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.subheading{
    font-size: 1.1rem;
    margin: .3rem 0;
}

@media(max-width: 768px) {
    .container{
        width: 95%;
    }

    .heading{
        font-size: 2.8rem;
    }

    .subheading{
        font-size: 1.8rem;
    }

    .heading, .subheading{
        text-align: center;
    }
}
/* ====================== General ======================== */


/* ======================== Logo ========================== */
.brand {
    width: 21rem;
}

.brand .grafic{
    height: 3px;
    background: linear-gradient(90deg, #cda74d 0%, transparent 35%, transparent 50%, transparent 65%, #cda74d 100%);
}

.group-text{
    font-size: 1.8rem;
    font-weight: bold;
}

.brand .names{
    display: flex;
    justify-content: space-between;
}

.names-text{
    font-size: 3rem;
    font-weight: bold;
}

.brand .subtitle{
    display: flex;
    justify-content: space-between;
}

.subtitle-text{
    font-size: 1rem;
    font-weight: lighter;
}
/* ======================== Logo ========================= */


/* ================== Navigation Bar ===================== */
.nav{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.logo, .link{
    font-size: 1.2rem;
    font-weight: 600;
}

.link{
    padding: .9rem 0;
    text-decoration: none;
    text-transform: uppercase;
}

.link:last-child{
    padding: 0;
    margin: 0;
}

.user{
    cursor: pointer;
    margin: 0;
    width: 2.3rem;
}

.link.active{
    border-bottom: 4px solid white;
}

@media (max-width: 768px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav, .bar{
        flex-direction: column;
    }

    .logo, .link{
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.dropdownlist{
    position: absolute;
    top: 3rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: .7rem;
}

.dropdownlist .info{
    margin-bottom: 1rem;
}

.dropdownlist .logout{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid white;
    padding-top: .5rem;
    text-decoration: none;
    cursor: pointer;
}

.dropdownlist .username{
    font-size: 1.1rem;
    font-weight: bold;
}

.dropdownlist .logout img{
    width: 1.5rem;
}
/* ================== Navigation Bar ===================== */


/* ================== Error component ===================== */
.error-page{
    text-align: center;
    width: 40rem;
    margin: 10rem auto 0 auto;
}

.error-page .title{
    font-size: 2.5rem;
    font-weight: bold;
}

.error-page .image{
    margin: 1rem 0;
    width: 6rem;
}

.error-page .information{
    font-size: 1.5rem;
}
/* ================== Error component ===================== */


/* =================== Search Field ====================== */
.top-options{
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.search{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    border: none;
    border-radius: .7rem;
    width: 18rem;
    padding: .3rem;
}

.search img{
    width: 1.8rem;
    margin: 0;
}

.search input{
    background: none;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    margin: 0;
    width: 16rem;
    outline: none;
}

@media (max-width: 768px) {
    .search{
        width: calc(100% - 1.2rem) ;
        padding: .8rem .6rem;
    }

    .search img{
        width: 2.7rem;
    }

    .search input{
        font-size: 1.9rem;
    }
}
/* =================== Search Field ====================== */


/* ===================== Buttons ========================= */
.actions{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: .6rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: .7rem;
    transition: backdrop-filter 200ms;
    font-weight: normal;
}

.button.center{
    justify-content: center;
}

.logout .button{
    width: 100%;
}

.button img{
    width: 1.4rem;
}

.button p{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 768px) {
    .actions{
        margin: 2rem 0;
    }

    .button{
        padding: 1rem;
        width: 100%;
    }

    .button p{
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
    }

    .button img{
        width: 2.2rem;
    }
}
/* ===================== Buttons ========================= */


/* ====================== Modals ========================= */
.login-modal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
}

.modal{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, .1);
    z-index: 101;
}

.form{
    position: relative;
    inset: 0;
    z-index: 102;
    width: 45%;
    margin: 0 auto;
    height: fit-content;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: .7rem;
    padding: 2rem;
}

.message{
    position: relative;
    margin: 0 auto;
    width: 35%;
    height: fit-content;
    border-radius: .7rem;
    background-color: rgb(255, 255, 255, .2);
}

.button-close{
    position: absolute;
    inset: 0;
    width: 2.1rem;
    height: 2.1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
/* ====================== Modals ========================= */


/* ====================== Inputs ========================= */
.message-information .inputs{
    margin: 1rem 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.input label{
    font-size: 1.2rem;
}

.input input{
    font-size: 1.1rem;
    font-weight: normal;
    padding: .6rem;
    border: none;
    border-radius: .7rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
    outline: none;
}

.input select{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
    font-weight: normal;
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
    border-radius: .7rem;
    outline: none;
}

.input option{
    color: black;
    outline: none;
}

input[type='file']{
    border: none;
    cursor: pointer;
}

input[type='datetime-local']{
    outline: none;
    padding: .6rem;
    border: none;
    border-radius: .7rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, .1);
}
/* ====================== Inputs ========================= */


/* ====================== Forms ========================= */
.error{
    color: darkred;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    border-radius: .4rem;
}

.loading{
    display: flex;
    gap: .7rem;
    margin-top: 1.5rem;
}
/* ====================== Forms ========================= */


/* ===================== Messages ========================= */
.message-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    text-align: center;
}

.message-information .buttons{
    margin: .5rem 0;
    display: flex;
    gap: 1rem;
}

.message-information p{
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: .5rem;
}

.message .message-information img{
    width: 6rem;
}
/* ===================== Messages ========================= */


/* ====================== Spinner ======================== */
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 14px;
    height: 14px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/* ====================== Spinner ======================== */


/* ====================== Layout ========================= */
.grid-1-2{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1rem;
}
/* ====================== Layout ========================= */


/* ======= Panel design for client and subjects ========== */
.content{
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    margin-top: 2rem;
    height: fit-content;
    border-radius: .7rem;
}

.content h3{
    margin: 0;
    font-weight: bold;
}

.content .data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.4rem 0;
}

.content .item p{
    margin-bottom: .3rem;
}
/* ======================= Panel ========================== */


/* =================== Document Modal ===================== */
.document{
    position: relative;
    inset: 0;
    z-index: 102;
    width: 31%;
    margin: 0 auto;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: .7rem;
    padding: 2rem 2rem .1rem 2rem;
}

.react-pdf__Page,
.react-pdf__Page__canvas,
.react-pdf__Page__textContent,
.react-pdf__Page__annotations
{
    max-width: 29rem;
    max-height: 38rem;
}

.changerpage{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
}

.changerpage p{
    font-weight: normal;
}

.changerpage img{
    width: 2rem;
    cursor: pointer;
}
/* =================== Document Modal ===================== */


/* ========================= List ========================= */
.list-scroll{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 60vh;
}

.list-scroll::-webkit-scrollbar {
    width: 10px;
}

.list-scroll::-webkit-scrollbar-thumb, .clients::-webkit-scrollbar-track {
    border-radius: .3rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}

.item-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
    border: none;
    border-radius: .7rem;
    padding: .6rem .8rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 1rem;
}

.item-list .check{
    width: 2rem;
    cursor: pointer;
}

.item-list .actions{
    margin: 0;
}

.item-list .actions img{
    width: 2rem;
    cursor: pointer;
}

.item-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.item-main img{
    width: 3rem;
    cursor: pointer;
}

.item-information h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.item-information p{
    font-size: 1rem;
    margin: .3rem 0;
}

.item-information img{
    width: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .list-scroll{
        height: 70rem;
    }
}
/* ========================= List ========================= */

/* ========================= Login ======================== */
.account-options{
    display: flex;
    justify-content: space-between;
}

.account-options .option{
    font-size: .9rem;
    font-weight: 400;
}
/* ========================= Login ======================== */

/* ========================= Steps ======================== */
.steps{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step{
    width: 3rem;
    height: 3rem;
    z-index: 100;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    transition: background-color 500ms ease;
}

.step.active{
    background-color: rgb(255, 255, 255, 0.6);
}

.step-line{
    margin: 0 -.1rem;
    width: 1.5rem;
    height: .8rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}
/* ========================= Steps ======================== */

/* ===================== Code Messages ==================== */
.just-text{
    margin-top: 1.5rem;
}

.subheading + .code {
    margin: 0;
}

.code{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.code-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: .7rem;
    outline: none;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
}
/* ===================== Code Messages ==================== */

.no-found{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    padding: .6rem;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.2);
    margin-right: 1rem;
    font-weight: bold;
}
